.board div {
	margin: auto;
	padding: 0;
}

.board div h3 {
	background-color: #71B5D0;
	color: white;
	border-radius: 20px 20px 0px 0px;
	padding: 5px;
	font-size: 18px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.board div p {
	min-height: 100px;
	background-color: #BED3E9;
	margin: 0;
	padding: 0;
	border-radius: 0px 0px 5px 5px;
}
